
#
# Target configuration
#
# CONFIG_TARGET_CONTAINER is not set
# end of Target configuration

#
# Init configuration
#
CONFIG_INIT_LOG_CONSOLE=y
CONFIG_INIT_PATH="/command:/usr/bin:/bin"
CONFIG_INIT_DEFAULT_RUNLEVEL="default"
CONFIG_INIT_EARLY_GETTY=y
CONFIG_INIT_EARLY_GETTY_CMD="getty -l /command/login 115200 ttyAMA0 vt100"
# end of Init configuration

#
# Bundle definitions
#
CONFIG_BUNDLE_DEFAULT=y
CONFIG_BUNDLE_LAN=y
CONFIG_BUNDLE_LOCAL=y
CONFIG_BUNDLE_MOUNT_DISKS=y
CONFIG_BUNDLE_MOUNT_VIRTUAL=y
CONFIG_BUNDLE_SSHD=y
# end of Bundle definitions

#
# Service definitions
#
CONFIG_SERVICE_DHCP_ETH0=y
CONFIG_SERVICE_DHCP_ETH0_LOG=y
# CONFIG_SERVICE_DHCPCD_ETH0 is not set
CONFIG_SERVICE_DROPBEAR=y
CONFIG_SERVICE_DROPBEAR_LOG=y
CONFIG_SERVICE_INIT_COLDPLUG=y
CONFIG_SERVICE_INIT_DEV=y
CONFIG_SERVICE_INIT_ETH0=y
CONFIG_SERVICE_INIT_HOSTNAME=y
CONFIG_SERVICE_INIT_HOSTNAME_NAME="skabox"
CONFIG_SERVICE_INIT_LO=y
CONFIG_SERVICE_INIT_SYSCTL=y
CONFIG_SERVICE_INIT_URANDOM=y
CONFIG_SERVICE_KLOGD=y
CONFIG_SERVICE_KLOGD_LOG=y
CONFIG_SERVICE_MDEVD=y
CONFIG_SERVICE_MOUNT_DEVPTS=y
CONFIG_SERVICE_MOUNT_PROC=y
CONFIG_SERVICE_MOUNT_RWFS=y
CONFIG_SERVICE_MOUNT_RWFS_FSTYPE="ext4"
CONFIG_SERVICE_MOUNT_RWFS_DEV="/dev/vda3"
CONFIG_SERVICE_MOUNT_SYS=y
CONFIG_SERVICE_MOUNT_TMP=y
CONFIG_SERVICE_SYSLOGD=y
CONFIG_SERVICE_SYSLOGD_LOG=y
# end of Service definitions
